{% extends "base.html" %} {% block content %}

<h1>Buggy <img id="rene-hamster" src="/static/rene-hamster.png" /></h1>

<table>
  <tr>
    <td>ID:</td>
    <td>{{ buggy['id'] }}</td>
  </tr>
  <br />
  <tr>
    <td>Wheels:</td>
    <td>{{ buggy['qty_wheels'] }}</td>
  </tr>

  <tr>
    <td>Flag Colour:</td>
    <td>{{ buggy['flag_color'] }}</td>
  </tr>
  <tr>
    <td>Secondary Flag Colour:</td>
    <td>{{ buggy['flag_color_secondary'] }}</td>
  </tr>
  <tr>
    <td>Flag Pattern:</td>
    <td>{{ buggy['flag_pattern'] }}</td>
  </tr>
  <tr>
    <td>Type of Armour:</td>
    <td>{{ buggy['type_armor'] }}</td>
  </tr>
  <tr>
    <td>Type of Tyre:</td>
    <td>{{ buggy['type_tyre'] }}</td>
  </tr>
  <tr>
    <td>Type of Attack:</td>
    <td>{{ buggy['attack_type'] }}</td>
  </tr>
  <tr>
    <td>Number of Tyres:</td>
    <td>{{ buggy['number_tyres'] }}</td>
  </tr>
</table>

<svg id="vstripe" width="400" height="110">
  <rect
    id="base_shape"
    width="300"
    height="100"
    style="fill: none; stroke-width: 1; stroke: rgb(0, 0, 0)"
  />
  <polygon
    id="triangle1"
    points="75,0 150,100 225,0"
    style="fill: none; stroke: black; stroke-width: 1"
  />
  <polygon
    id="triangle2"
    points="100,0 150,75 200,0"
    style="fill: none; stroke: black; stroke-width: 1"
  />
</svg>

<button
  type="button"
  onclick="document.getElementById('base_shape').style.fill='{{ buggy['flag_color'] }}', document.getElementById('triangle1').style.fill='{{ buggy['flag_color_secondary'] }}', document.getElementById('triangle2').style.fill='{{ buggy['flag_color'] }}'"
>
  Click me
</button>

<p>
  <a href="/" class="button">home</a>
</p>

{% endblock %}
